#Introduction to Python
Python is a high-level, interpreted programming language known for its simplicity, readability, and extensive libraries. It empowers developers to create diverse applications with ease while fostering a supportive community for learning and collaboration.

##Print Statment in python:
The print statement in Python is a built-in function used to display information or variable values to the console.

**For Example:**

In [3]:
print("Hello, World!")

Hello, World!

##Comments in python:

In Python programming, comments are used to add explanatory or descriptive text within the code that is ignored by the interpreter or compiler and provide additional information to developers, making the code more readable and understandable.

**For Example:**
we have two types of comments

*   Signle-line comment
*   multi-line comment

**Single-line comments:** These comments start with the hash symbol (#) and continue until the end of the line. They are typically used for brief explanations or clarifications.

In [1]:
# This is a single-line comment
x = 5  # Assigning the value 5 to the variable x

**Multi-line comments:** Also known as docstrings, these comments span multiple lines and are enclosed within triple quotes (''' or " " "). They are commonly used to provide more detailed explanations, document functions, classes, or modules.

In [2]:
'''
This is a multi-line comment.
It can span multiple lines and is enclosed within triple quotes.
'''
def greet(name):
    '''
    This function greets the user with the provided name.
    '''
    print("Hello, " + name)

##Variable:
 Is a named container used to store data values. Variables act as placeholders that allows to refer to and manipulate data throughout program. They are assigned values and can be updated or modified as needed during the execution of the program.
 Variables are created by assigning a value to them using the assignment operator (=). The value can be of any data type, such as numbers, strings, lists, or even more complex objects.

 **For Example:**

In [4]:
# Creating variables and assigning values to them
name = "Umema Batool"
age = 20
is_student = True
pi_value = 3.14

# Printing the values of the variables
print("Name:", name)
print("Age:", age)
print("Is Student:", is_student)
print("Pi Value:", pi_value)

Name: Umema Batool
Age: 20
Is Student: True
Pi Value: 3.14

In [5]:
# Modifying the values of the variables
age = 21
is_student = False
pi_value = 3.14159

# Printing the updated values
print("Updated Age:", age)
print("Updated Is Student:", is_student)
print("Updated Pi Value:", pi_value)

Updated Age: 21
Updated Is Student: False
Updated Pi Value: 3.14159

##Data types in Python:
Categories that define the nature of data and determine the valid operations that can be applied to them.

Here are few predefined or built-in data types in Python:



1.   Integer (int): Represents whole numbers without decimal points.

eg:

In [7]:
age = 25
quantity = 10
print(age,quantity)

25 10



2.   Float (float): Represents numbers with decimal points.

eg:

In [8]:
pi = 3.14
temperature = 98.6
print(pi,temperature)

3.14 98.6



3. String (str): Represents sequences of characters enclosed in single quotes ('') or double quotes ("").

eg:

In [13]:
name = "Umema "
message = '\nHave a good day!'
print(name,message)

Umema
Have a good day!



4. Boolean (bool): Represents a logical value indicating either True or False.

eg:

In [12]:
is_student = True
is_admin = False
print(is_student,is_admin)

True False



5.   List (list): Represents an ordered collection of items enclosed in square brackets ([]).

eg:

In [14]:
numbers = [1, 2, 3, 4, 5]
names = ["Alice", "Bob", "Charlie"]
print(numbers,names)

[1, 2, 3, 4, 5] ['Alice', 'Bob', 'Charlie']



6.   Tuple (tuple): Represents an ordered collection of items enclosed in parentheses (()).

eg:

In [15]:
coordinates = (10, 20)
colors = ("red", "green", "blue")
print(coordinates,colors)

(10, 20) ('red', 'green', 'blue')



7.   Dictionary (dict): Represents a collection of key-value pairs enclosed in curly braces ({}) where each key is associated with a value.

eg:

In [16]:
person = {"name": "John Doe", "age": 25, "is_student": True}
grades = {"math": 90, "science": 85, "history": 95}
print(person,grades)

{'name': 'John Doe', 'age': 25, 'is_student': True} {'math': 90, 'science': 85, 'history': 95}

#Escape sequences:
 are special character combinations that are used to represent certain characters that are difficult or impossible to include directly in a string. They are preceded by a backslash (\) to indicate that they have a special meaning.

 Here some common escape sequences used in python:

1.   "double backslash": Represents a backslash character.

In [19]:
path = "C:\\Users\\Umema\\Documents\\file.txt"
print(path)

C:\Users\Umema\Documents\file.txt

2.  "single backslash with single quote": Represents a single quote character.

In [18]:
message = 'I\'m learning Python.'
print(message)

I'm learning Python.

3.   "single backslash with double quote": Represents a double quote character.

In [20]:
dialogue = "He said, \"Hello!\""
print(dialogue)

He said, "Hello!"

4.  \n: Represents a newline character, used to start a new line.

In [21]:
poem = "Roses are red,\nViolets are blue."
print(poem)

Roses are red,
Violets are blue.



5.  \t: Represents a tab character, used for indentation or aligning text.

In [23]:
table = "Name:\tUmema\nAge:\t21"
print(table)

Name:	Umema
Age:	21



6.   \r: Represents a carriage return character, used to move the cursor to the beginning of the current line.

In [28]:
progress = "Loading...\rPlease wait."
print(progress)

Please wait.

In this specific example, when the string progress is printed, the sequence "\r" causes the cursor to move back to the beginning of the line after printing "Loading...". As a result, when the string "Please wait." is printed next, it overwrites the previously printed "Loading..." text.